body {
    font-family: Inter;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

//-----------------------------------HEADER---------------------------//

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.31);
    box-shadow: 0 4px 30px rgba(129, 129, 129, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    @include breakpoint("medium") {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: none;
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
.header-logo {
    color: $darkgrey;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-align: center;
}

.main-content {
    margin-top: 96px;
}

.main-menu {
    @include breakpoint("medium"){
        margin-right: 60px;
        margin-left: auto;
    }
}

.mobile-toggle {
    display: none;
}


.header-navigation {
    display: flex;
    width: 320px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 91px;
    flex-direction: column;
    padding: 20px;
    z-index: 1;
    background-color: $white;
    
    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        position: static;
        width: 550px;
        height: auto;
        background-color: transparent;
        
    }
    
    a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: normal;
        color: $grey;
        text-decoration: none;
        margin-bottom: 16px;
        
        &:nth-child(1) {
            padding-top: 16px;
            border-top: 1px solid #f3f4f6;

            @include breakpoint("medium") {
                padding-top: 0;
                border-top: 0;
            }
        }
    
        &:nth-child(4) {
            padding-bottom: 16px;
            border-bottom: 1px solid #f3f4f6;

            @include breakpoint("medium") {
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
        
        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            font-weight: 600;
            color: $darkgrey;
        }
        
        @include breakpoint("medium") {
            text-align: center;
            margin-bottom: 0;
            
        }
    }
}

.mobile-toggle-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 91px;
    background-color: white;
    z-index: -1;

    span {
        position: absolute;
        left: 20px;
        top: 30px;
    }

    @include breakpoint("medium") {
        display: none;
    }
}

.menu-navigation {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s;


    @include breakpoint("medium") {
        opacity: 1;
        visibility: visible;
        transition: none;
    }
}

#mobile-toggle:checked + label.mobile-burger-icon + div.menu-navigation {
    opacity: 1;
    visibility: visible; 
}

.mobile-burger-icon {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    @include breakpoint("medium") {
        display: none;
    }

    span {
        height: 2px;
        width: 22px;
        background-color: $black;
        display: block;
        opacity: 1;
        transition: opacity .1s;
    }

    &::before,
    &::after {
        content: " ";
        height: 2px;
        background-color: $black;
        display: block;
        position: absolute;
        right: 5px;
        transition: transform .3s;
    }

    &::before {
        top: 8px;
        transform-origin: top left;
        width: 22px;
    }

    &::after {
        bottom: 8px;
        transform-origin: bottom left;
        width: 22px;
    }
}

#mobile-toggle:checked + label.mobile-burger-icon {
    span {
        opacity: 0;
    }

    &::before {
        transform: rotate(42deg);
    }

    &::after {
        transform: rotate(-42deg);
        width: 22px;
    }
}

.header-theme-download {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    @include breakpoint("medium") {
        flex-direction: row;
        margin-left: 30px;
    }

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: auto;
        padding: 6px 16px;
        border-radius: 12px;
        background-color: $darkgrey;
        font-size: 16px;
        font-weight: 500;
        color: $white;
        text-decoration: none;
        transition-duration: .2s;

        &:hover {
            background-color: $grey;
            color: $white;
            font-weight: 500;
        }
    }
}

.header-theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;

    p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $grey;

        @include breakpoint("medium") {
            display: none;
        }
    }
}

//--------------------------------TITLE-------------------------//

.main-content {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 162px;

    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }
}

.title-content {
    padding: 16px;
    margin-bottom: 64px;

    @include breakpoint("medium") {
        max-width: 768px;
        padding: 0;
    }
}

.name-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 55px;

    p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        color: $grey; 
    }
}

.title-name {
    display: flex;
    flex-direction: row;
    gap: 8px;

    h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.11;
        letter-spacing: normal;
        color: $darkgrey;
    }
    

    img {
        height: 40px;
        width: auto;
    }
}

.location-hire-blocks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 60px;
}

.location-hire-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    img {
        width: 24px;
    }

    p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        color: $grey;
    }
}

.pulse-span {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    margin-left: 8px;
    border-radius: 50%;
    background: #10B981;
    box-shadow: 0 0 0 rgba(65, 204, 44, 0.4);
    animation: pulse 1s infinite;

    &:hover {
        animation: none;
    }

    @-webkit-keyframes pulse {
        0% {
        -webkit-box-shadow: 0 0 0 0 rgba(57, 204, 44, 0.4);
        }
        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(44, 204, 105, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(44, 204, 71, 0);
        }
    }
    @keyframes pulse {
        0% {
        -moz-box-shadow: 0 0 0 0 rgba(44, 204, 129, 0.4);
        box-shadow: 0 0 0 0 rgba(44, 204, 44, 0.4);
        }
        70% {
            -moz-box-shadow: 0 0 0 10px rgba(44, 204, 92, 0);
            box-shadow: 0 0 0 10px rgba(44, 204, 161, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(44, 204, 103, 0);
            box-shadow: 0 0 0 0 rgba(44, 204, 76, 0);
        }
    }
}
        

.link-socia {
    display: flex;
    flex-direction: row;
    gap: 10px;

    a {
        text-decoration: none;
        transition-duration: .2s; 

        &:hover {
            background-color: #f9fafb;
            border-radius: 10px;
        }
    }
}



.photo-block {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    margin-bottom: 68px;

    @include breakpoint("medium") {
        margin-bottom: 96px;
        margin-left: 10px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: -24px;
        width: 120%;
        height: 100%;
        background-color: #e0e0e0;
        z-index: -1;
        
        
        @include breakpoint("medium") {
            top: 39px;
            left: 41px;
            width: 100%;
        }
    }

    img {
        width: 240px;
        height: 280px;
        outline: 10px solid $white;

        @include breakpoint("medium") {
            width: 280px;
            height: 320px;
        }
    }
}

//--------------------------ABOUT ME------------------------//

.about-me {
    background-color: #f9fafb;
    padding: 64px 16px;
    position: relative;
    
    @include breakpoint("medium") {
        padding: 96px 20px;
    }
}

#about {
    @include buttonPrimary;
    margin-bottom: 48px;
}

.about-me-content {
    display: flex;
    flex-direction: column;

    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: space-between;
    }
}

.about-me-photo {
    margin: 0 auto;
    margin-bottom: 68px;
    box-shadow: -11px 11px #e5e7eb, 11px 11px #e5e7eb;

    @include breakpoint("medium") {
        width: 400px;
        margin: 0;
        margin-left: 40px;
        margin-right: 10px;
        box-shadow: -40px 40px #e5e7eb;
    }

    img {
        width: 280px;
        height: 360px;
        border: solid 8px #f9fafb;

        @include breakpoint("medium"){
            width: 400px;
            height: 480px;
        }
    }
}

.my-biography {
    margin-bottom: 64px;

    @include breakpoint("medium") {
        max-width: 584px;
    }

    h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.6px;
        color: $darkgrey;
        margin-bottom: 24px;

        @include breakpoint("medium") {
            font-size: 30px;
        }
    }

    p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        color: $grey;
        margin-bottom: 16px;
    }

    span {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        color: $grey;
    }

    img {
        width: 16px;
    }
}

//---------------------------SKILLS----------------------//

.skills-content {
    margin-top: 64px;
    margin-bottom: 64px;

    h3 {
        @include buttonPrimary;
    }

    p {
        @include paragraphPrimary;
    }
}

.tools-and-technologies {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 48px;
    margin-top: 48px;
}

.tool-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 17%;
    gap: 8px;

    @include breakpoint("medium") {
        width: 8%;
    }

    img {
        width: 64px;
        height: 64px;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.15);
        }
    }

    span {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: #4b5563;
        text-align: center;
    }
}

//--------------------------------EXPERIENCE-----------------------------//

.experience {
    background-color: #f9fafb;
    padding: 64px 16px;

    @include breakpoint("medium") {
        padding: 96px 20px;
    }
}

.experience-section {
    h3 {
        @include buttonPrimary;
    }
    
    p {
        @include paragraphPrimary;
    }
}

.experience-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;

    @include breakpoint("medium") {
        gap: 48px;
        margin-top: 48px;
    }

}

.experience-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 4px 3px 0 rgba(0, 0, 0, 0.07);
    background-color: $white;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: $grey;
    
    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: space-between;
        gap: 48px;
        max-width: 896px;
    }

    img {
        width: 102px;
        height: 28px;
        margin-right: 92px;
    }

    span {
        max-width: 161px;
    }
}

.position {
    order: 1;

    @include breakpoint("medium") {
        order: 0;
        max-width: 384px;
    }

    h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: normal;
        color: $darkgrey;
        margin-bottom: 16px;
    }

    li {
        list-style-type: disc;
        margin-left: 27px;
        max-width: 414px;
    }

}

//------------------------------WORK----------------------------//

.work-content {
    padding: 64px 16px;

    @include breakpoint("medium") {
        padding: 96px 20px;
    }

    h3 {
        @include buttonPrimary;
    }

    p {
        @include paragraphPrimary;
    }
}

.block-projects {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 24px;
}

.project {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 4px 3px 0 rgba(0, 0, 0, 0.07);

    @include breakpoint("medium") {
        flex-direction: row;
    }
}

.photo-project {
    margin: 0 auto;
    background-color: #f9fafb;
    border-bottom: 1px solid #f3f4f6;
    padding: 32px;

    @include breakpoint("medium") {
        padding: 48px;
    }

    img {
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        border-radius: 12px;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.04), 0 4px 3px 0 rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.reverse-block {

    @include breakpoint("medium") {
        order: 1;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;

    @include breakpoint("medium") {
        padding: 58px;
    }


    h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        color: $darkgrey;

        @include breakpoint("medium") {
            font-size: 20px;
            line-height: 1.4;
        }
    }

    p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $grey;
        margin-top: 0;
    }

}

.work-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;

    span{
        @include buttonPrimary;
        margin: 0;
    }
}

//-----------------------------Testimonials----------------------//

.testimonials {
    background-color: #f9fafb;
}

.testimonials-content {
    padding: 64px 16px;
    
    @include breakpoint("medium") {
        padding: 96px 20px;
    }

    h3 {
        @include buttonPrimary;
    }

    & > p {
        @include paragraphPrimary;
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    margin-top: 24px;
    max-width: 500px;


    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: space-between;
        gap: 48px;
        max-width: 100%;
    }
}

.response {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 4px 3px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;

    @include breakpoint("medium") {
        padding: 48px;
        width: 33%;
    }

    img {
       width: 65px;
       height: 65px;
       border-radius: 50%;
       margin: 0 auto; 
    }

    p {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $grey;
    }
}

.name-respondent {

    h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: center;
        color: $darkgrey;
    }

    span {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        letter-spacing: normal;
        display: block;
        text-align: center;
        color: $grey;
    }
}

//-------------------------------CONTACT ME-------------------------//

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 16px;
    gap: 24px;

    @include breakpoint("medium") {
        padding: 96px 20px;
        gap: 48px;
    }

}

.title-contact {
    h3 {
        @include buttonPrimary;
    }
    
    p {
        @include paragraphPrimary;
        font-size: 20px;

        @include breakpoint("medium") {
            max-width: 576px;
        }
    }
}

.email-phone-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include breakpoint("medium") {
        gap: 16px;
    }
}

.connection-with-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @include breakpoint("medium") {
        gap: 20px;
    }

    label {
        img {
            width: 25px;
            height: 24px;

            @include breakpoint("medium") {
                width: 30px;
                height: 29px;
            }
        }
    }

    input {
        border: none;
        padding: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        letter-spacing: -0.36px;
        text-align: center;
        color: $darkgrey;

        @include breakpoint("medium") {
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: -0.72px;
        }
    }

    button {
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;

        img{
            width: 24px;
            height: 24px;

            @include breakpoint("medium") {
                width: 30px;
                height: 30px;
            }
        }
    }
}

#copyText {
    display: inline-block;
    width: 209px;

    @include breakpoint("medium") {
        width: 395px;
    }
}

#textInput {
    display: inline-block;
    width: 137px;

    @include breakpoint("medium") {
        width: 263px;
    }
}

.contact-platforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    span {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $grey;
    }
}

//-----------------------------FOOTER----------------------------//

footer {
    background-color: #f9fafb;
}

.footer-content {
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: $grey;

    span {
        width: 1px;
        height: 20px;
        background-color: $grey;
        margin: 0 5px;
    }

    a {
        color: $grey;
        margin-right: 5px;
    }
}
