//
// Screen sizes function
// -----------------------------------------------------------------------------

@function screenSize($key) {

    @if map-has-key($screenSizeMap, $key) {
        @return map-get($screenSizeMap, $key);
    }

    @warn "Unknown #{$key} in $screenSizeMap.";
    @return null;
}

//
// Breakpoint Mixin
// -----------------------------------------------------------------------------

@mixin breakpoint($size) {
    @if type-of($size) == "number" {
        @media (min-width: $size) { @content; }
    }
    @else {
        @media (min-width: screenSize($size)) { @content; }
    }
}

@mixin buttonPrimary {
    width: max-content;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: $grey;
    padding: 4px 20px;
    border-radius: 12px;
    background-color: $lightgrey;
}

@mixin paragraphPrimary {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: $grey;
    margin-top: 16px;
}

@mixin imgCertf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include breakpoint("xsmall") {
       justify-content: space-around;
    }

    img {
        width: 255px;
        height: 185px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 8px 1px rgba(155, 155, 155, 0.2);
        
       @include breakpoint("small") {
            width: 363px;
            height: 276px;
        }

        @include breakpoint("medium") {
            width: 245px;
            height: 175px;
        }
    }
}
